<!--
  Created by IntelliJ IDEA.
  User: youxin
  Date: 2022/2/9
  Time: 21:25
  To change this template use File | Settings | File Templates.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 使用X-UA-Compatible来设置IE浏览器兼容模式，最新的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
        viewport表示用户是否可以缩放页面;width指定视区的逻辑宽度;
        device-width指示视区宽度应为设备的屏幕宽度;
        initial-scale指令用于设置web页面的初始缩放比例;
        initial-scale=1则将显示未经缩放的web文档
     -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyBlog</title>
    <!-- 网页图标引入 -->
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" >
    <link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/dist/css/editormd/editor.css}">
    <link rel="stylesheet" th:href="@{/dist/css/editormd/editormd.min.css}">


</head>
<body>
<!--<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
<div class="container-fluid bg-info" >
    <div class="row clearfix">
        <div class="col-md-12 column ">
            <div class="row clearfix">
                <div class="col-md-4 column" style="text-align: center">
                    <div class="page-header">
                        <h1>
                            欢迎来到X1nZz的个人博客
                        </h1>
                    </div>
                </div>
                <div class="col-md-6 column">
                    <ul class="breadcrumb" style="position: relative;top: 40px">
                        <li>
                            <a href="#">主页</a>
                        </li>
                        <li>
                            <a href="#">分类</a>
                        </li>
                        <li>
                            <a href="#">关于我</a>
                        </li>
                        <li class="active">
                            Data
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 column" style="position: relative;top: 40px">
                    <div class="col-md-4" >
                        <button type="button" class="btn btn-link">写博客</button>
                    </div>
                    <div class="col-md-8" >
                        &lt;!&ndash; 如果传过来存在没有认证信息 &ndash;&gt;
                        <a type="button" class="btn btn-primary" shiro:notAuthenticated="" th:href="@{/toLogin}">
                            <span class="glyphicon glyphicon-log-in">登录</span>
                        </a>
                        <a type="button" class="btn btn-primary" style="position: relative;left: 20px" shiro:notAuthenticated="">
                            <span class="glyphicon glyphicon-user">注册</span>
                        </a>

                        <a type="button" class="btn btn-primary" style="position: relative;left: 5px" shiro:authenticated="" th:href="@{/loginout}">
                            <span class="glyphicon glyphicon-log-out">登出</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</nav>-->

<div th:replace="~{common/commons.html::topbar}"></div>

<!--<div class="container-fluid">-->
    <!--<div class="row clearfix">-->
        <!--<div class="col-md-12 column">-->
            <!--<div class="row clearfix">-->

                <div id="writeArticle">
                    <div class="zhy-editor">
                        <div class="zhy-editor-input">
                            <input id="zhy-editor-title" type="text" placeholder="输入文章标题">
                            <button type="button" class="publishBtn btn btn-success" style="position: relative;left: 20px" data-toggle="modal" data-target="#myModal">发布博客</button>
                        </div>
                    </div>
                    <div class="zhy-editor-writing">
                        <!--MarkDown的id标志 -->
                        <div id="my-editormd">
                            <!-- 书写与实时显示的textarea -->
                            <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc" style="display:none;"></textarea>
                            <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。 -->
                            <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
                        </div>
                    </div>

                    <div class="notice-box notice-box-title">
                        <span> 文章标题不能为空</span>
                    </div>
                    <div class="notice-box notice-box-content">
                        <span> 文章內容不能为空</span>
                    </div>
                </div>

                <!-- 模态框 -->
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">发布博客</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <label class="publish-tag" style="margin-left: 10px">文章类型<strong>:</strong></label>
                                    <div class="type">
                                        <select id="select-type">
                                            <option value="choose" selected>请选择</option>
                                            <option value="原创">原创</option>
                                            <option value="转载">转载</option>
                                        </select>
                                        <span class="required">*</span>
                                    </div>
                                </div>

                                <div class="row" style="position: relative; top: 10px">
                                    <label class="publish-tag" style="margin-left: 10px">博客分类<strong>:</strong></label>
                                    <div class="categories">
                                        <select id="select-categories">
                                            <option value="choose">请选择</option>
                                        </select>
                                        <span class="required">*</span>
                                    </div>
                                </div>
                                <!--<div class="row">
                                    <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-9">
                                        Level 1: .col-sm-9
                                        <div class="row">
                                            <div class="col-xs-8 col-sm-6">
                                                Level 2: .col-xs-8 .col-sm-6
                                            </div>
                                            <div class="col-xs-4 col-sm-6">
                                                Level 2: .col-xs-4 .col-sm-6
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <!--<button type="button" class="surePublishBtn btn btn-primary" onclick="window.location.href = '/toIndex'">发布博客</button>-->
                                <button type="button" class="surePublishBtn btn btn-primary">发布博客</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script th:src="@{/dist/js/bootstrap.js}"></script>
<script th:src="@{/dist/js/editormd/editor.js}"></script>
<script th:src="@{/dist/js/editormd/editormd.js}"></script>

</body>
</html>